* {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: "Lato", sans-serif;
	max-width: 1020px;
}
.wrapper {
	padding: 0 40px;
	max-width: 1020px;
}
.header {
	background: #2d303a;
	height: 90px;
	max-width: 1020px;
	border-bottom: solid 5px #323746;
	vertical-align: center;
}
h1 {
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: -0.5px;
	color: #fff;
	line-height: 6px;
	padding-top: 39px;
	margin: 2px -2px 0 0;
}
.spar {
	font-size: 2.5rem;
	color: #F06C64;
}
.navigation {
	display: flex;
	float: right;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	width: 370px;
}
.navigation a {
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 100%;
	text-decoration: none;
	margin: -1px -2px 0px -2px;
}
.navigation span {
	color: #494E62;
	font-size: 1.2rem;
	line-height: 6px;
	margin-top: 1px;
}
.navigation a:hover {
	color: #F06C64;
}
.navigation a:first-child {
	color: #F06C64;
}
.slider {
	height: 600px;
	background-color: #f06c64;
	position: relative;
	border-bottom: solid 1px #ea676b;
}
.left {
	position: absolute;
	top: 280px;
	left: 40px;
}
.slide:active {
	width: 24px;
	height: 40px;
	top: 277px;
}
.slide:hover {
	cursor: pointer;
	background: #b3b1b1;
	border-radius: 3px;
	border: solid #b3b1b1 3px;
	top: 277px;
}
.vertical-phone {
	position: absolute;
	top: -16px;
	left: 110px;
}
.horizontal-phone {
	position: absolute;
	top: 70px;
	right: 80px;
}
.right {
	position: absolute;
	top: 280px;
	right: 40px;
}
.services {
	background-color: #f2f2f2;
	height: 495px;
	border-bottom: solid 6px #fff;
}
.services h2 {
	padding-top: 67px;
	font-size: 3rem;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	margin-bottom: 27px;
}
.description p {
	font-size: 1.8rem;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	text-align: justify;
}
.layout-3-colums {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 35px; 
	margin-top: 11px;
}
.colums {
	width: 32%;
	height: 20%;
	margin-bottom: 31px;
}
.colums img {
	float: left;
	margin-right: 18px;
}
.colums h3 {
	font-size: 1.8rem;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
}
.colums p {
	margin-top: 8px;
	font-size: 1.2rem;
	line-height: 22px;
	color: #767e9e;
	font-weight: 400;
	overflow: hidden;
	text-align: justify;
}